<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Course Details</h4>
      </div>
      <div class="modal-body">
        <h2>
          {{course.title}}
          <button style="float: right" class="btn btn-outline-danger btn-sm" ng-click="deleteCourse()">Delete Course</button>
        </h2>
        <p>
          <span>Overall Class Average: {{gpa | number:2}}%</span>
        </p>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#assign" role="tab" data-toggle="tab" target="_self"><small>Class Average per Assignment</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#student" role="tab" data-toggle="tab" target="_self"><small>Student Averages in Class</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#grade" role="tab" data-toggle="tab" target="_self"><small>Grade Distribution</small></a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="assign">
            <canvas id="bar" class="chart chart-bar" chart-data="assignmentData" chart-labels="assignmentLabels" chart-options="barOpts"> chart-series="series"
            </canvas>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="student">
            <canvas id="bar" class="chart chart-bar" chart-data="studentData" chart-labels="studentLabels" chart-options="barOpts"> chart-series="series"
            </canvas>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="grade">
            <canvas id="pie" class="chart chart-pie" chart-data="courseData" chart-labels="courseLabels" chart-options="pieOpts" chart-colors="colors"> chart-series="series"
            </canvas>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>