<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Course Details</h4>
      </div>
      <div class="modal-body">
        <h2>{{course.title}}</h2>
        <p>
          <span>Overall Class Average: {{gpa | number:2}}%</span>
          <span style="float: right"><small>Class Average per Assignment</small></span>
        </p>

        <canvas id="bar" class="chart chart-bar"
          chart-data="data" chart-labels="labels" chart-options="opts"> chart-series="series"
        </canvas>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>