
<!-- Course.first.students.first.submissions.first.assignment -->
<!-- Course.first.students.first.assignments.first.assignment -->
<!-- Bootstrap horizon for infinite scrolls-->

<div class="row">
  <div class="col-xs-12">
    <h1>{{course.title}}</h1>

    <!-- {{course}} -->
</div>
</div>

<p>Average GPA by raw score: <span>{{rawGPA * 100 | number}}%</span></p>
<p>GPA with curve: <span>{{curvedGPA}}% </span></p> 

 <table class="table table-bordered">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th ng-repeat="col in cols | limitTo: colCount - 3"
          ng-click="showAssignmentModal(assignments[$index])">{{col}}</th>
    </tr>
    <tr ng-repeat="row in allRows | limitTo: rowCount">
      <td ng-repeat="item in row track by $index | limitTo: colCount ">{{item}}</td>
      <td><a ng-click="studentDetailModal(row[2])">Details</a></td>
    </tr>
  </table>

  <button class="btn btn-success" ng-click="incrementCol('up')">Add Assignment</button>
  <button class="btn btn-danger" ng-click="incrementCol('down')">Remove Column</button></br></br>
  <button class="btn btn-success" ng-click="incrementRow('up')">Add Student</button>
  <button class="btn btn-danger" ng-click="incrementRow('down')">Remove Row</button>
