
<!-- Course.first.students.first.submissions.first.assignment -->
<!-- Course.first.students.first.assignments.first.assignment -->
<!-- Bootstrap horizon for infinite scrolls-->

<div class="row">
  <div class="col-xs-12">
    <h1>
      <div ng-submit="update(course.title)">
        <span editable-text="course.title" e-form="textBtnForm">
        </span>
      </div>

      <a ng-click="courseDetailModal(rawGPA)" ng-hide="textBtnForm.$visible">{{course.title}}</a>

      <button class="btn btn-secondary btn-sm" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
      edit title</button>
    </h1>

    <!-- {{course}} -->
  </div>
</div>

<p>Average GPA by raw score: <span>{{rawGPA | number:2}}%</span></p>
<p>GPA with curve: <span>{{curvedGPA}}% </span></p>
<p><strong>Note</strong>: Adding a '-1' to a score DOES NOT include the score in the student's overall GPA for the course.
This feature is useful incase a student has not yet handed in an assignment or is excused from an assignment</p>
<div class="overflow-x-auto">
  <button class="btn btn-success sh-btn" ng-click="addStudentModal(course)">Add Student</button>
  <button class="btn btn-success sh-btn" ng-click="addAssignmentModal(course)">Add Assignment</button>
  <button class="btn btn-danger sh-btn" ng-click="removeStudentModal(course)">Remove Student</button>
  <button class="btn btn-outline-danger sh-btn" ng-click="deleteCourse()">Delete this course</button>
  <scrollable-table>
   <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th sortable-header col="Student ID">Student ID</th>
        <th sortable-header col="First Name">First Name</th>
        <th sortable-header col="Last Name">Last Name</th>
        <th sortable-header col="Email">Email</th>

        <th sortable-header col="{{col}}" sortable-header ng-repeat="col in cols track by $index | limitTo: colCount - 4" ng-click="showAssignmentModal(assignments[$index])">{{col}}</th>
        <th>Overall</th>
        <!-- <th>Details</th> -->

      </tr>
    </thead>
      <tbody>
        <tr ng-repeat="row in allRows track by $index | limitTo: rowCount">
            <td class="styling-grades" ng-submit="submitEdit(row, item, $index)" ng-repeat="item in row track by $index | limitTo: colCount ">

             {{percentScore(item, $index)}}<a href="#" onbeforesave="checkItem($index, $data)" editable-text="item"> {{isItemScore(item, $index)}}</a>
          </td>
          <td>{{showScore(allRows.indexOf(row))}}</td>
          <td><a ng-click="studentDetailModal(row[3], row[row.length - 1])">Details</a></td>
        </tr>
      </table>
    </tbody>
  </scrollable-table>
</div>

