
<!-- Course.first.students.first.submissions.first.assignment -->
<!-- Course.first.students.first.assignments.first.assignment -->
<!-- Bootstrap horizon for infinite scrolls-->

<div class="row">
  <div class="col-xs-12">
    <h1>{{course.title}}</h1>

    <!-- {{course}} -->
</div>
</div>

<p>Average GPA by raw score: <span>{{rawGPA | number:2}}%</span></p>
<p>GPA with curve: <span>{{curvedGPA}}% </span></p>

 <table class="table table-bordered">
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>

      <th ng-repeat="col in cols track by $index | limitTo: colCount - 4" ng-click="showAssignmentModal(assignments[$index])">{{col}}</th>

    </tr>
    <tr ng-repeat="row in allRows | limitTo: rowCount">
        <td ng-submit="submitEdit(row, item, $index)" ng-repeat="item in row track by $index | limitTo: colCount ">
          <a href="#" onbeforesave="checkItem($index, $data)" editable-text="item"> {{item}}</a>
      </td>
      <!-- Ask mike about row[3] -->
      <td><a ng-click="studentDetailModal(row[3])">Details</a></td>
    </tr>
  </table>


  <button class="btn btn-success" ng-click="addAssignment(course)">Add Assignment</button>
  <button class="btn btn-danger" ng-click="incrementCol('down')">Remove Column</button></br></br>
  <button class="btn btn-success" ng-click="addStudentModal(course)">Add Student</button>
  <button class="btn btn-danger" ng-click="incrementRow('down')">Remove Row</button>
