.front-page {
  body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  body, html {
    height: 100%
  }

  body {
    font-family: 'Cutive Mono', monospace;
  }
  body, html {
    height: 100%
  }

  h1 {
    font-family: 'Cabin Sketch', cursive;
  }

  h2, h3, h4 {
    font-family: 'Cutive Mono', monospace;
    font-size: 40px;
  }

  .front-page-icon {
    height: 100px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  h4 {
   font-size: 24px;
  }

  #title {
    font-size: 150px;
    color: white;
    font-weight: normal;
  }

  #section1 {
    background-color: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #signin {
    background-color: #B3C100;
  }

  #paper {
    z-index: -50;
  }
  .subtitle {
    display: block;
    margin-top: 100px;
  }
  .touchonly {
    display: none;
  }
  html.touch .touchonly {
    display: block;
  }
  .noselect * {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
  }
  .doselect * {
    user-select: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -o-user-select: auto;
  }

  .clearfix:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
  }

  .clearfix {
      display: inline-block;
  }

  html[xmlns] .clearfix {
      display: block;
  }

  * html .clearfix {
      height: 1%;
  }

  #titlechart {
      background: url(/assets/chalkboard.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
  }

  #hands {
    position: relative;
    top: 0;
    z-index: 50;
    height: 10px;
  }

  #paper-target {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  form {
    input {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    .remember-me {
      width: 2%;
    }
  }

  .nav-item {
    width: 48%;
    height: 60px;
  }

  .nav-link {
    height: 60px;

  }

  .btn-signup {
    background-color:#B7B8B6;
    display: inline-block;
    width: 25%;
  }

  .fb-btn {
    background-color: #3b5998;
    color: white;
    display: inline-block;
    width: 25%;
  }

  .nav-tabs .nav-link.active {
    background-color: $primary-color;
  }

  ul[role="tablist"] {
    background-color: #dee884;

  }

  label {
    color: white;
    font-size: 20px;
    font-family: 'Cutive Mono', monospace;
  }

}

