#lesson-show {

  #profile-img {
    height: 1.75em;
    width: 1.75em;
    vertical-align: middle;
    border-radius: 0.25rem;
    display: inline-block;
    background-size: contain;
    background-position: 50% 50%;
  }

  .CodeMirror, .CodeMirror-scroll {
    min-height: 450px;
  }

  .editable {
    i {
      display: none;
      font-size: 50%;
      vertical-align: middle;
    }

    &:hover {
      i {
        display: inline;
      }
    }
  }
  
}