#lesson-show {

  .CodeMirror, .CodeMirror-scroll {
    min-height: 450px;
  }

  .editable {
    i {
      display: none;
      font-size: 50%;
      vertical-align: middle;
    }

    &:hover {
      i {
        display: inline;
      }
    }
  }
  
}

#file-upload{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-btn{
  cursor: pointer;
  background-color: $primary-color;
  color: white;
}