.image-container{
	width: 100%;
	height: 250px;
	object-fit: contain;
	text-align: center;
	line-height: 250px;
	position: relative;
}

.profile-img{
	max-height: 250px;
	vertical-align: middle;
	max-width: 100%;
	border-radius: 2px;
}

.teacher-info{
	text-align: center;
	.btn {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.tab-container{
	margin-top: 10px;
}

.photo-upload{
	position: absolute;
	line-height: normal;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background-color: $primary-color;
	color: white;
}

#file-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.listed-lesson-plan{
	border-radius: .25rem;
	margin-top: 25px;

	p {
		margin-bottom: 5px;
	}
	.card-header {
		a {
			color: white;
		}
		border-radius: 2px 2px 0 0;
		margin-bottom: 0;
	}
	.card-block {
		padding: 10px;
	}
	.group{
		background-color: $primary-color;
	}
	.teacher {
		background-color: $secondary-color;
	}
	.individual {
		background: $blue-sky-color;
	}
}

.lesson-title {
	color: #444;
}

.lesson-title:hover {
	color: $secondary-color;
}

.small-photo{
	width: 50px;
	height: 50px;
}

.user-box{
	border-bottom: 1px solid #e5e5e5;
	padding-top: 24px;
	padding-bottom: 24px;
}

.follow-btn{
	width: 100%;
}

.page-container{
	margin-top: 20px;
}

.filter-container {
	position: relative;
	padding-bottom: 20px;
	.lesson-plan-filter {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		width: 400px;
		font-size: 16px;
	}
	#advanced-filters{
		position: absolute;
		right: 40px;
		top: 40px;
		color: #0275d8;
		font-size: 14px;
	}

	#clear-filters{
		position: absolute;
		top: 35px;
		left: 40px;
		margin-bottom: 10px;
		font-size: 13px;
	}

}
.lesson-filters {
	h6 {
		display: inline-block;
		font-size: 13px;
	}
	.rzslider {
		width: 50%;
		.rz-pointer {
			height: 12px;
			width: 12px;
		}
		.rz-bar-wrapper {
			padding-top: 6px;
		}
	}
	.select-container{
		margin-top: 15px;
	}
}





.fa-code-fork {
	margin-left: 4px;
}

.pagination div{
	display: inline-block;
	margin-right: 5px;
}

.pagination-holder{
	text-align: center;
	font-size: 18px;
}

calendar-graph{
	cursor: default;
}

.calendar-box{
	border: 1px solid red;
	border-radius: 4px;
}

.calendar-body{
	text-align: center;
}

calendar-square div{
	width: 10px;
	height: 10px;
	background-color: rgb(224, 224, 224);
	margin: 1px;
}

calendar-column{
	display:inline-block;
}

.helptip{
  position: relative;
}

.popbox{
  display: none;
  width: 200px;
  height: 25px;
  background-color: $ternary-color;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 10px;
  position: absolute;
  z-index: 100;
}

.helptip:hover + .popbox{
  display: block;
}

.legend{
	display: inline-block;
	list-style: none;
	margin: 0 5px;
	padding-left: 0px;
}

.legend li{
	display: inline-block;
	width: 10px;
	height: 10px;
}

.month-header{
	display: inline-block;
	margin-bottom: 0px;
	margin-right: 37px;
	font-size: 12px;
}

days-column{
	display: inline-block;
}

.day-block{
	height: 10px;
	font-size: 12px;
	margin: 0px;
}