.image-container{
	width: 100%;
	height: 250px;
	object-fit: contain;
	text-align: center;
	line-height: 250px;
	position: relative;
}

.profile-img{
	max-height: 250px;
	vertical-align: middle;
}

.photo-upload{
	position: absolute;
	line-height: normal;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background-color: $primary-color;
	color: white;
}

#file-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.listed-lesson-plan{
	border-radius: .25rem;
		margin-top: 25px;
	a {
		color: white;
	}
	P {
		margin-bottom: 5px;
	}
}

.small-photo{
	width: 50px;
	height: 50px;
}

.user-box{
	border-bottom: 1px solid #e5e5e5;
	padding-top: 24px;
	padding-bottom: 24px;
}

.follow-btn{
	width: 100%;
}

.page-container{
	margin-top: 20px;
}

.filter-container {
	position: relative;
	padding-bottom: 20px;
	.lesson-plan-filter {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		width: 400px;
		font-size: 16px;
	}
	#advanced-filters{
		position: absolute;
		right: 40px;
		top: 40px;
		color: #0275d8;
		font-size: 14px;
	}

}
.lesson-filters {
	font-size: 13px;
	.filter-vertical-divide {
		margin-left: 4px;
		margin-right: 4px;
		height: 20px;
		width: 2px;
		border-left: 1px solid #0275d8;
		border-right: 1px solid #0275d8;
		display: inline-block;
		vertical-align: middle;
	}
	.filter-range {
		vertical-align: middle;
	}
}

#clear-filters{
	margin-bottom: 10px;
	font-size: 13px;
	margin-right: 30px;
}


.fa-code-fork {
	margin-left: 4px;
}

.pagination div{
	display: inline-block;
	margin-right: 5px;
}

.pagination-holder{
	text-align: center;
	font-size: 18px;
}

