.float-right {
  float: right;
  margin-right: 30px;
}

.assignment-show {
  .editable-buttons button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  label {
    color: black;
  }
}