a:hover {
  text-decoration: none !important;
}

.course-box:active, .new-course:active{
  box-shadow: none;
}

a[ng-click], span[ng-click], div[ng-click], h4[ng-click], p[ng-click], th[ng-click] {
  cursor: pointer;
}



.student-modal .editable-buttons button {
  float: left;
}

.sh-btn {
  margin-bottom: 5px;
}

.failing-students .notify-parents {
  float:left;
}

.exceptional-students .notify-parents {
  float:left;
}

.styling-grades {
  padding: 5px 12px !important;
  .editable-buttons button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .editable-input {
    width: 84px;
  }
}

/* for line graphs */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#course-index-graphs {
  margin-top: 40px;

  .course-graph {
    margin-bottom: 30px;
  }

  .graph-title {
    text-align: center;
    font-size: 1.3em;
  }

}

.popover {
    max-width: 950px;
}


.editable-controls {
  width:100px;
}
.styling-grades input {
 display: block;
 margin: 20px;
 width: auto;
}
.course-index-background {
 
}

.course-box {
  text-align:center;
  background: image-url("chalkboard-min.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width:auto;
  height:auto;
  margin:10px 0 10px 20px;
  border: 5px solid #966F33;
  border-radius:20px;
  color: white;
  font-family: chalk;
  line-height: 88px;
  margin-left:20px;
}

.course-box-header {
  text-align:center;
  background: image-url("chalkboard-min.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin-top:15px;
  border: 5px solid #966F33;
  border-radius:10px;
  height:200px;
  padding-bottom:100px
}


.course-index-teacher-name {
  line-height:200px;
  color:white;
  text-align: center; 
  font-family:chalk;
}

.create-new-course {
  text-align: center;
  color: black;
  font-family:chalk;
  font-size: 22px;
}

.gradebook-unordered-list {
  font-family:chalk;
}

.course-index-class-information {
  font-size:20px;
}

.new-course {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  background-color: #e6e6e6;
  width: 30%;
  border-radius: 10px;
  margin: 0px 0px 2px 4px;
  margin-top:-50px;
}

.course-index-class-title {
  font-size:30px;
  margin-bottom:-10px;
}

.course-index-class-information.students {
  margin-left: 60px;
}

.line-graph-icon {
  margin-left: 60px;
}

@-ms-keyframes wiggle{0%{-ms-transform:rotate(6deg);}50%{-ms-transform:rotate(-6deg);}100%{-ms-transform:rotate(6deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(6deg);}50%{-moz-transform:rotate(-6deg);}100%{-moz-transform:rotate(6deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(6deg);}50%{-webkit-transform:rotate(-6deg);}100%{-webkit-transform:rotate(6deg);}}
@keyframes wiggle{0%{transform:rotate(6deg);}50%{transform:rotate(-6deg);}100%{transform:rotate(6deg);}}
.wiggle-me:hover{-ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;}
    