 <div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Changes</h4>
      <pre class="diffs"><!--
        --><span ng-repeat="diff in diffs" ng-class="{ added: diff.added, removed: diff.removed, strikethrough: ( (diff.added && !diff.accepted) || (diff.removed && diff.accepted) ) }" ng-click="toggle(diff)">{{ diff.value }}</span><!--
      --></pre>
    </div>
  </div>

  <button class="btn btn-secondary btn-sm" ng-click="clearAllChanges()">Turn off all changes</button>
  <button class="btn btn-primary btn-sm" ng-click="addAllChanges()">Reset changes</button>
</div>
