<fork-lesson-plan ng-if="lessonBelongsToCurrentUser === false && alreadyForked !== true"></fork-lesson-plan>

<button ng-if="lessonBelongsToCurrentUser && forkedLesson.parent_plan_id && prSent.length === 0"
        ng-click="getDiffInfo()"
        type="button"
        class="btn btn-info pull-right"
        data-toggle="modal"
        data-target="#newPRModal{{ newPR.forked_plan_id }}">
  New Pull Request</button>
</div>

<!-- Modal -->
<div class="modal fade large pull-request-modal"
     id="newPRModal{{ newPR.forked_plan_id }}"
     tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true" style="width: 90%; margin-left:5%;">

  <div class="modal-admin" role="document" style="width: 100%;">
    <div class="modal-content">
      <div class="modal-header">

        <!-- x button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title" id="myModalLabel" ng-required required>
          New Pull Request
        </h4>
      </div>

      <div class="modal-body">
          <form>
            <h2>Title:</h2>
            <h2><input class="form-control"  type="text" name="" ng-model="newPR.title"></h2>

            <h2>Description:</h2>
            <textarea class="form-control" ng-model="newPR.description"></textarea>


          </form>
          <br>
          <div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Changes</h4>
                <pre><span ng-repeat="diff in diffs" ng-class="{ added: diff.added, removed: diff.removed }">{{ diff.value }}</span></pre>
              </div>
            </div>
          </div>

      </div>

      <div class="modal-footer">

        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">

               Cancel
        </button>


        <button type="button"
                class="btn btn-secondary"
                ng-click="createNewPullRequest()"
                data-dismiss="modal">

                Create New Pull Request
        </button>

      </div>
    </div>
  </div>
</div>