<!-- Button trigger modal -->
<button type="button"
        class="btn btn-info"
        data-toggle="modal"
        data-target="#pullRequestModal{{ pullRequest.id }}">

  More Info...
</button>

<!-- Modal -->
<div class="modal fade pull-request-modal"
     id="pullRequestModal{{ pullRequest.id }}"
     tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <div class="modal-admin" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <!-- x button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">
          <i class="fa fa-arrow-right" aria-hidden="true"></i> Title: {{ pullRequest.title }}
        </h3>
        <h4 class="modal-title" id="myModalLabel">

        </h4>
      </div>

      <div class="modal-body">
          <label ng-if="pullRequest.description"><h6>Description: {{ pullRequest.description }}</h6></label>
          <label><h6>Status: {{ pullRequest.status }}</h6></label>

          <diff pull-request="pullRequest" diffs="diffs"></diff>

          <h2>Comments</h2>
          <div class="container-fluid">
            <div ng-repeat="comment in pullRequest.comments | orderBy: 'created_at'">
              <pr-comment pullRequest="pullRequest" comment="comment" comments="pullRequest.comments"></pr-comment>

            </div>
              <new-pr-comment pull-request="pullRequest" comments="pullRequest.comments"></new-pr-comment>
          </div>
      </div>

      <div class="modal-footer">

        <button type="button"
                class="btn btn-secondary "
                data-dismiss="modal">

                Close
        </button>

        <span ng-if="lessonBelongsToCurrentUser === true">
          <button class="btn btn-danger"
                  ng-click='rejectChanges()'
                  data-dismiss="modal"
                  type="button">
              Reject All Changes
          </button>

          <button class="btn btn-success"
                  ng-click='acceptChanges()'
                  data-dismiss="modal"
                  type="button">
              Accept Changes
          </button>
        </span>


      </div>
    </div>
  </div>
</div>
