<div class="form-group row">
  <label for="example-text-input" class="col-md-6 col-form-label">Estimated Time (in hrs)</label>
  <div class="col-md-6">
    <input class="form-control" type="number" min="0" ng-model="lesson.hours" ng-disabled="!editing">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-md-6 col-form-label">State</label>
  <div class="col-md-6">
    <select ng-model="lesson.state" class="form-control"  ng-disabled="!editing">
      <option></option>
      <option ng-repeat="state in states" value="{{ state }}">{{ state }}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-6 col-form-label">Grade</label>
  <div class="col-md-6">
    <select ng-model="lesson.grade" class="form-control"  ng-disabled="!editing">
      <option></option>
      <option ng-repeat="grade in grades" value="{{ grade }}">{{ grade===0 ? 'Kindergarten' : grade }}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-6 col-form-label">Subject</label>
  <div class="col-md-6">
    <select ng-model="lesson.subject" class="form-control"  ng-disabled="!editing">
      <option ng-repeat="subject in subjects" value="{{ subject }}">{{ subject }}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-6 col-form-label">Lesson Type</label>
  <div class="col-md-6">
    <select ng-model="lesson.lesson_type" class="form-control"  ng-disabled="!editing">
      <option ng-repeat="lessonType in lessonTypes" value="{{ lessonType }}">{{ lessonType }}</option>
    </select>
  </div>
</div>