<!-- Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- x button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create a new lesson</h4>
      </div>
      <div class="modal-body">
        <!-- form -->
        <form class="container" name="newLesson">
          <div class="form-group row">
          <div class="col-xs-12">
            <input type="text" id="lesson-title" class="form-control" placeholder="Title (2 character minimum)" ng-model="title" ng-required="true" ng-minlength="2">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="new-lesson-type">Lesson Type</label>
              <select id="new-lesson-type" ng-model="newLessonType" class="form-control">
                <option ng-repeat="lessonType in lessonTypes" value="{{ lessonType }}">{{ lessonType }}</option>
              </select>
            </div>
            <div class="col-xs-6">
              <label for="new-subject">Subject</label>
              <select id="new-subject" ng-model="newSubject" class="form-control">
                <option ng-repeat="subject in subjects" value="{{ subject }}">{{ subject }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <!-- Show after file chosen -->
            <div class="input-group pull-left col-xs-6" ng-show="file">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="clearFile()"><i class="fa fa-times fa-fw"></i></button>
              </span>
              <input type="text" class="form-control" value="{{ file.name }}" readonly>
            </div><!-- /input-group -->
          </div>
        </form>
      </div>
      <div class="modal-footer new-lesson-buttons">
        <button class="btn pull-left btn-secondary" ng-hide="file" ngf-select ng-model="file" name="file" ngf-max-size="2MB" ngf-accept="'.doc, .docx'"><i class="fa fa-upload fa-fw"></i> Upload Word Document</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn" ng-class="{ 'btn-primary': newLesson.$valid, 'btn-secondary': newLesson.$invalid }" ng-click="createLesson(newLesson.$valid)"><i class="fa {{ saving ? 'fa-spinner fa-spin' : 'fa-graduation-cap' }} fa-fw"></i> Create</button>
      </div>
    </div>
  </div>
</div>
