<div class="row">
  <div class="col-xs-12 course-show-header">
    <div class="row">
      <div class="col-xs-4 pull-right">
        <a ui-sref="courses.index"><button class="btn btn-primary">Back to All Courses</button></a>
        <a href="/gradebook#/{{course.id}}"><button class="btn btn-primary">Course Gradebook</button></a>
      </div>
      <div class="col-xs-8">
        <h2>{{course.title}}</h2>
      </div>
    </div>
    <h5>Start Date: {{course.start_date | date}} | End Date: {{ course.end_date | date}} | Meets on <span ng-repeat="day in meeting_days">{{findDay(day)}}{{$last ? '' : ', ' }}</span></h5>
  </div>
</div>

<div class="row course-day-container">
  <div class="col-sm-4 lesson-filters">
    <h4>Your Lesson Plans</h4>
    <div class="row">
      <div class='col-xs-8'>
        <input type="text" ng-model="titleFilter" placeholder="Filter by title..." class=" form-control lesson-plan-filter" >
      </div>
      <div class='col-xs-4'>
        <p class="toggle-filter-text" ng-click='showFilters = !showFilters'><span ng-if="showFilters">Hide Filters</span><span ng-if="!showFilters"> More Filters</span></p>
      </div>
    </div>
    <div ng-if="showFilters">
      <div class="col-sm-12 syl-filter-container">
        <h6>Grade:</h6> <rzslider rz-slider-options="filter.options" rz-slider-model="filters.gradeMin" rz-slider-high="filters.gradeMax"></rzslider>
      </div>
      <div class="col-sm-12 syl-filter-container"> 
        <h6>Hours:</h6> {{filters.hour}} <rzslider  rz-slider-options="filter.options" rz-slider-model="filters.hourMin" rz-slider-high="filters.hourMax"></rzslider>  
      </div>
      <div class="col-sm-12 syl-filter-container">
        <h6>Lesson Type:</h6> <select ng-model="filters.lessonType">
          <option value=""></option>
          <option ng-repeat="lessontype in lessonTypes" value="{{lessontype}}">{{lessontype}}</option>
        </select>
      </div>
      <div class="col-sm-12 syl-filter-container"> 
        <h6>Subject:</h6> <select ng-model="filters.subject">
          <option value=""></option>
          <option ng-repeat="subject in subjects" value="{{subject}}">{{subject}}</option>
        </select>
      </div>
      <div class="col-sm-12 syl-filter-container">
        <button  class="btn btn-outline-primary" id="clear-filters" ng-click="resetFilters()">Clear Filters</button>
      </div>
    </div>
    <div dir-paginate="lesson in teacher.lesson_plans | orderBy: '-created_at' | filter: {title: titleFilter} | filter: between('grade', filters.gradeMin, filters.gradeMax) | filter: {lesson_type: filters.lessonType} | filter: {subject: filters.subject} | filter: between('hours', filters.hourMin, filters.hourMax) | filter: isUsed() | itemsPerPage: 10" lesson="lesson">
      <div class="row">
        <div data-drag="true" data-jqyoui-options="{revert: true}" jqyoui-draggable="{placeholder: true, onStart:'setDragParams(lesson)'}" class="col-xs-10 offset-xs-1">
          <div class="card listed-lesson-plan">
            <h5 class="card-header " ng-class="{group: lesson.lesson_type === 'Group', individual: lesson.lesson_type === 'Individual', teacher: lesson.lesson_type === 'Teacher-led'}">
              <a href="/#/lessons/{{lesson.id}}">
                {{lesson.title}}
              </a>
            </h5>
            <div class="card-block">
              <p> Subject: {{lesson.subject}} <strong>|</strong> Grade: {{lesson.grade}} <strong>|</strong> Hours: {{lesson.hours}}</p>
              <p>Lesson type: {{lesson.lesson_type}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 pagination-holder">
        <dir-pagination-controls></dir-pagination-controls>
      </div>
    </div>
  </div>


  <div class="col-sm-8">
    <div class="row">
    <h4>Your Scheduled Classes</h4>
    <div ng-repeat="courseDay in course.course_days | orderBy: 'date'" courseDay="courseDay">
      <div class="clearfix" ng-if="$index % 2 == 0"></div>
      <div class="col-sm-6">
        <div data-drop="true" jqyoui-droppable="{placeholder: true, onDrop: 'addLessonPlan(courseDay)'}" class="col-xs-11 course-day">
          <h4>{{courseDay.date | date}}</h4>
          <div ng-repeat="lesson in courseDay.lesson_plans" class="card listed-lesson-plan">
            <div class="card-header " ng-class="{group: lesson.lesson_type === 'Group', individual: lesson.lesson_type === 'Individual', teacher: lesson.lesson_type === 'Teacher-led'}">
              <h5><a href="/#/lessons/{{lesson.id}}">
                {{lesson.title}}
              </a></h5>
              <span class="pull-right" ng-click="deleteLessonPlan(lesson, courseDay)">Delete</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
