<%= content_for :angular_app do %>
  ng-app="Gradebook"
<% end %>

<br>

This is views/gradebooks/index.html


<br>

<div class="container" ui-view>This is a ui-view, which will hopefully be replaced</div>