<div class="pagination" ng-if="1 < pages.length || !autoHide">
    <div ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a href="" ng-click="setCurrent(1)"><button class="btn btn-outline-primary"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button></a>
    </div>
    <div ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a href="" ng-click="setCurrent(pagination.current - 1)"><button class="btn btn-outline-primary"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button></a>
    </div>
    <div ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a href="" ng-click="setCurrent(pageNumber)"><button class="btn btn-outline-primary">{{ pageNumber }}</button></a>
    </div>

    <div ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
        <a href="" ng-click="setCurrent(pagination.current + 1)"><button class="btn btn-outline-primary"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button></a>
    </div>
    <div ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
        <a href="" ng-click="setCurrent(pagination.last)"><button class="btn btn-outline-primary"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button></a>
    </div>
</div>