 <div id="lesson-show"> <!-- namespace wrapper  -->

 <p><a ui-sref="main.teachers.overview({id: owner.id})"><div id="profile-img" style="background-image: url({{ profile_photo }})"></div> {{ owner.first_name + ' ' + owner.last_name}}</a> — <strong>{{ lesson.title }}</strong>
 <small ng-if="lesson.parent_plan_id">/ (forked from <a ui-sref="main.lessons.show({id: lesson.parent_plan_id})" >this lesson</a>)</small>
 </p>


 <div ui-view='newPullRequest'></div>

  <ul class="nav nav-tabs">
    <li class="nav-item">

      <a class="nav-link active"
        ui-sref="main.lessons.show"
        data-toggle="tab">
        Lesson Plan
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
          ui-sref="main.lessons.show.pullRequests"
          data-toggle="tab">


          Pull Requests <span class="tag tag-default">{{ pendingPRs }}</span>
        <span class="tag tag-pill tag-default">{{teacher.starred_lesson_plans}}</span>


      </a>
    </li>

    <li class="nav-item">

      <a class="nav-link"
        ui-sref="main.lessons.show.contributors"
        data-toggle="tab">
        Contributors <span class="tag tag-default">{{ lesson.contributors.length }}</span>
      </a>
    </li>

    <li class="nav-item" ng-if="currentUserLesson === true">

      <a class="nav-link"
        ui-sref="main.lessons.show.settings"
        data-toggle="tab">
        Settings

      </a>
    </li>

  </ul>

<div ui-view='mainContainer' id="main-content"></div>

</div>
