  <ul class="nav nav-tabs">
    <li class="nav-item">

      <a class="nav-link active"
        ui-sref="main.lessons.show"
        data-toggle="tab">
        Lesson Plan
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
          ui-sref="main.lessons.show.pullRequests"
          data-toggle="tab">

          Pull Requests
        <span class="tag tag-pill tag-info">{{teacher.starred_lesson_plans}}</span>
      </a>
    </li>

  </ul>

<!-- TODO: add check to see if current lesson belongs to current user
 -->

<fork-lesson-plan ng-if="!lessonBelongsToCurrentUser"></fork-lesson-plan>
<div ui-view='newPullRequest' ng-if=lessonBelongsToCurrentUser()></div>
<div ui-view='mainContainer'></div>
