<div class="tab-content" ui-view>
  <div class="tab-pane active" id="main" role="tabpanel">
      <div class="row">
        <div class='col-xs-12 filter-container'>
          <input type="text" ng-model="titleFilter" placeholder="Filter by title..." class=" form-control lesson-plan-filter" >
          <p ng-click="toggleAdvancedFilters()" id="advanced-filters">Advanced Filters</p>
        </div>
      </div>
      <div class="row" ng-show="advancedFilters">
        <div class="col-xs-12 lesson-filters">
          Grade: {{gradeFilter}} & up  <input type="range" ng-model="gradeFilter" class="filter-range" min="0" max="12"> <div class="filter-vertical-divide"></div>
          Hours: {{hourFilter}} & up <input type="range" ng-model="hourFilter" class="filter-range" min="0" max="10">  <div class="filter-vertical-divide"></div>
          Lesson Type: <select ng-model="lessonTypeFilter">
            <option value=""></option>
            <option ng-repeat="lessontype in lessonTypes" value="{{lessontype}}">{{lessontype}}</option>
          </select> <div class="filter-vertical-divide"></div>
          Subject: <select ng-model="subjectFilter">
            <option value=""></option>
            <option ng-repeat="subject in subjects" value="{{subject}}">{{subject}}</option>
          </select>
        </div>
      </div>
      <div class="list-group row">
        <div lesson-card class="col-md-6" lesson="lesson" ng-repeat="lesson in teacher.lesson_plans | orderBy: '-created_at' | filter: {title: titleFilter} | filter: greaterThan('grade', gradeFilter) | filter: {lesson_type: lessonTypeFilter} | filter: {subject: subjectFilter} | filter: greaterThan('hours', hourFilter)">
      </div>
    </div>
  </div>
</div>