
<div class="row page-container">
	<div class="col-md-3">
		<div class="card">
			<div class="image-container" ng-mouseover="imageHover = true" ng-mouseleave="imageHover = false">
				<img class="card-img-top profile-img" ng-src="{{profile_photo}}" alt="Profile photo here">
				<label ng-if="imageHover && isCurrentUser && !saving" class="photo-upload" for="file-input"><i class="fa fa-camera fa-fw" aria-hidden="true"></i>Upload photo</label>
				<span class="photo-upload" ng-if="saving"><i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>Uploading...</span>
			</div>
			<input id="file-input" type="file" ngf-select="upload($file)" ng-model="image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100">
			<div class="card-block">
				<h3 ng-mouseover="hoverIn(teacher)" ng-mouseleave="hoverOut(teacher)" ng-hide="teacherEditing" class="card-title">{{teacher.first_name}} {{teacher.last_name}} <span ng-if="teacher.hoverEdit && isCurrentUser" class="animate-show">
                <a ng-click="editTeacher()">
                    <img src="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519584-081_Pen-16.png" alt="">
                </a>
            </span></h3>
        <input type="text" ng-model="teacher.first_name" ng-if="teacherEditing && isCurrentUser">
        <input type="text" ng-model="teacher.last_name" ng-if="teacherEditing && isCurrentUser">
        <input type="submit" ng-click="updateTeacher()" value="Update" class="btn btn-primary" ng-if="teacherEditing">
        <input type="submit" ng-click="cancelUpdate()" value="Cancel" class="btn btn-danger" ng-if="teacherEditing">
				<p class="card-text" ng-if="teacher.state" ng-mouseover="stateHover = true" ng-mouseleave="stateHover = false">State: {{teacher.state }} <span ng-if="stateHover" class="animate-show">
                <a ng-click="editState()">
                    <img src="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519584-081_Pen-16.png" alt="">
                </a>
            </span></p>
				<select ng-if="stateEditing && isCurrentUser" ng-model="teacher.state" ng-change="editState()">
					<option value={{state}} ng-repeat="state in states">{{state}}</option>
				</select>
				<input type="submit" ng-if="!teacher.state && isCurrentUser" class="btn btn-primary" value="Choose State" ng-click="editState()">
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-3 offset-md-9">
				<button class="btn btn-primary" ng-if="isCurrentUser" data-toggle="modal" data-target="#newLessonModal">Create New +</button>
        <new-lesson-modal teacher="teacher"></new-lesson-modal>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link" ui-sref="main.teachers.overview({id: {{teacher.id}}})" data-toggle="tab">Overview</a></li>
					<li class="nav-item"><a class="nav-link" ui-sref="main.teachers.lessonPlans({id: {{teacher.id}}})" data-toggle="tab">Lesson Plans <span class="tag tag-pill tag-info">{{teacher.num_lessons}}</span></a></li>
					<li class="nav-item"><a class="nav-link" ui-sref="main.teachers.starred({id: {{teacher.id}}})" data-toggle="tab">Starred <span class="tag tag-pill tag-info">{{teacher.starred_lesson_plans}}</span></a></li>
					<li class="nav-item"><a class="nav-link" ui-sref="main.teachers.contributions({id: {{teacher.id}}})" data-toggle="tab">Contributions <span class="tag tag-pill tag-info">{{teacher.lesson_plans_contributed_to}}</a></span></li>
					<li class="nav-item"><a class="nav-link" ui-sref="main.teachers.followers({id: {{teacher.id}}})" data-toggle="tab">Followers <span class="tag tag-pill tag-info">{{teacher.followed_by}}</a></span></li>
					<li class="nav-item"><a class="nav-link" ui-sref="main.teachers.following({id: {{teacher.id}}})" data-toggle="tab">Following <span class="tag tag-pill tag-info">{{teacher.following}}</a></span></li>
				</ul>
					<div ui-view>
						
					</div>
				</div>
			</div>
		</div>
	</div>

