<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 ng-hide="editingTitle" ng-click="editTitle()" class="modal-title">{{assignment.title}}</h4>

        <input ng-show="editingTitle" 
        type="text" 
        name="edit-title" 
        ng-model="assignmentTitle"
        value="{{assignment.title}}" >


        <input class="btn btn-warning" 
        ng-show="editingTitle" 
        type="submit" 
        name="edit-title-submit" 
        value="Submit" 
        ng-click="submitTitleEdits()">

        <button class="btn btn-info" 
        ng-show="editingTitle" 
        ng-click="cancelEditTitle()">
        Cancel
        </button>

      </div>
      <div class="modal-body clearfix">  
        <div class="col-sm-6">  
          <h4>{{assignment.assignment_type | capitalize }}</h4>

          <p>Average score: {{gpa.raw | number:2 }}%</p>
          
          <p>Average curved score: {{gpa.real | number:2 }}%</p>

          <p>
            Points possible: {{assignment.possible_score}}
          </p>
          <p>
            Last Updated: {{assignment.updated_at | date}}
          </p>

          <p>Submissions: {{numSubmissions}} / {{numStudents}}</p>

        </div>
        <div class="col-sm-6">
          <button ng-hide="addingCurve" ng-click="addCurve()" class="btn btn-outline-warning">Add/Edit Curve</button>

          <div ng-show="addingCurve">
            <label>Type:</label>
            <select ng-model="curveType">
              <option value="Flat">Flat</option>
              <option value="Linear">Linear</option>
            </select>
       
            <!-- flat -->
            <div ng-if="curveType==='Flat'">
              <label>By what percent would you like to increase scores?</label>
              <input type="number" max="100" ng-model="curve.flatOffset">
              &nbsp; %
              <button ng-click="applyFlatCurve()">Apply Curve</button>
              <button ng-show="addingCurve" ng-click="resetCurve()">
                Remove Curve
              </button>
            </div>

            <!-- linear -->
            <div ng-if="curveType==='Linear'">
              <p>Pick two raw score percent values (for example, the mean score and the lowest score), then choose what you'd like those values to become. </p>
              <label>Score A (original):</label>
              <input class="float-right" 
                      type="number" 
                      max="100" 
                      min="0" 
                      ng-model="curve.rawA">
              <label>Score A (curved):</label>
              <input class="float-right" 
                      type="number" 
                      max="100" 
                      min="0" 
                      ng-model="curve.curvedA">
              <label>Score B (original):</label>
              <input class="float-right" 
                      type="number" 
                      max="100" 
                      min="0" 
                      ng-model="curve.rawB">
              <label>Score B (curved):</label>
              <input class="float-right" 
                      type="number" 
                      max="100" 
                      min="0" 
                      ng-model="curve.curvedB">
              <button ng-click="applyLinearCurve()">
                Apply Curve
              </button>
              <button ng-show="addingCurve" ng-click="resetCurve()">
                Remove Curve
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="saveChanges()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>