<div class="container-fluid">

<div id="lesson-show" class="row">

  <div class="col-md-12">
    <div class="col-md-10">
      <h2 ng-show="editing" editable-text="lesson.title" class="editable">{{ lesson.title || 'New Lesson' }} <i class="fa fa-pencil" aria-hidden="true"></i></h2>
      <h2 ng-hide="editing">{{ lesson.title }}</h2>
    </div>
<div ui-view='pullrequests'></div>

    <div class="row">
      <div class="col-md-8">
        <textarea lesson-edit='editorOptions' preview="false" id="editor" ng-model="lesson.content" ng-if="editing === true"></textarea>
        <textarea lesson-edit='previewOptions' preview="true" ng-model="lesson.content"  ng-if="editing === false"></textarea>

        <div class="row">
          <div class="col-md-6">
            <div ng-if="editing === true">
              <button class="btn btn-success" ng-click="save()">Save</button>
              <button class="btn btn-danger" ng-click="toggleEditing()">Cancel</button>
            </div>
            <div ng-if="editing === false && currentUserLesson === true">
              <button class="btn btn-primary" ng-click="toggleEditing()">Edit</button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card card-block">
          <h4 class="card-title">Details</h4>
          <div class="form-group row">
            <label for="example-text-input" class="col-md-6 col-form-label">Estimated Time (in hrs)</label>
            <div class="col-md-6">
              <input class="form-control" type="number" min="0" ng-model="lesson.hours">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-search-input" class="col-md-6 col-form-label">State</label>
            <div class="col-md-6">
              <select ng-model="lesson.state" class="form-control">
                <option ng-repeat="state in states" value="{{ state }}">{{ state }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-6 col-form-label">Grade</label>
            <div class="col-md-6">
              <select ng-model="lesson.grade" class="form-control">
                <option ng-repeat="grade in grades" value="{{ grade }}">{{ grade }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-6 col-form-label">Subject</label>
            <div class="col-md-6">
              <input class="form-control" type="text" ng-model="lesson.subject">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-6 col-form-label">Lesson Type</label>
            <div class="col-md-6">
              <input class="form-control" type="text" ng-model="lesson.lesson_type">
            </div>
          </div>
        </div>

        <div class="card card-block">
          <h4 class="card-title">Additional Materials</h4>
          <button><i class="fa  {{ saving ? 'fa-spinner fa-spin' : 'fa-upload' }} fa-fw"></i><label for="file-upload" class="upload-btn">Upload</label></button>
          <input id="file-upload" type="file" ngf-select="upload($file)">
          <ul>
            <li ng-repeat="m in materials"><a ng-href="{{m.image_url}}" target="_blank">{{m.file_name | limitTo: 30}}
            <a class="fa fa-download am-btn" aria-hidden="true" ng-href="{{m.image_url}}" download></a><a ng-if="currentUserLesson === true" class="fa fa-trash-o am-btn" aria-hidden="true" ng-click="deleteMat(m)"></a></li>
          </ul>
        </div>
      </div>

    </div>


  </div>
</div>
</div>