<p>
<h3>Dear <%=@student.first_name %>,</h3>
<p>I would like to inform of your your recent assignment, @assignment_name. You receieved an overall score of <%= @score %>%.</p>

<p>I am very happy with how well you did on the assignment, and want to let you know to keep it up. If you would like to talk further, you can reach me through my email at: <%= @teacher.email %>.</p>

<p>Thank you for your time. </p>

<p>Best,</p>

<p><%= @teacher.first_name + " " + @teacher.last_name %></p>
</p>