<p>
	<h3>Dear <%=@student.first_name %>,</h3>
	<p>I would like to inform of your current progress in my class. With the most recent grades, you currently have an overall score of <%= @score %>%.</p>

	<p>I am very happy with your current path and just wanted to let you know this. If you would like to talk further, you can reach me through my email at: <%= @teacher.email %>.</p>

	<p>Thank you for your time. </p>

	<p>Best,</p>

	<p><%= @teacher.first_name + " " + @teacher.last_name %>
</p>