/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require ng-table.min
 */




 @import "bootstrap";

$primary-color: #B3C100; /*fields*/;
$secondary-color: #B7B8B6; /*granite*/;
$ternary-color: #34675C; /*pine*/;
$blue-sky-color: #4CB5F5; /*blue-sky*/;


.primary-color {
  color: $primary-color;
}


.secondary-color {
  color: $secondary-color;
}

.ternary-color {
  color: $ternary-color;
}

.blue-sky-color {
  color: $blue-sky-color;
}

.primary-bg-color {
  background-color: $primary-color;
}


.secondary-bg-color {
  background-color: $secondary-color;
}

.ternary-bg-color {
  background-color: $ternary-color;
}

.blue-sky-bg-color {
  background-color: $blue-sky-color;
}

 @import "bootstrap";
 @import "lesson_styles/teachers"
