/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 * Add comment here
 * Add another here
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require ng-table.min
 *= require scrollable-table
 *= require fixedColumns.dataTables.min
 *= require datatables.min
 *= require angular-typewrite.min
 */


$primary-color: #B3C100; /*fields*/;
$secondary-color: #B7B8B6; /*granite*/;
$ternary-color: #34675C; /*pine*/;
$blue-sky-color: #4CB5F5; /*blue-sky*/;

.cabin-sketch-font {
  font-family: 'Cabin Sketch', cursive;
}

.abel-font {
font-family: 'Roboto', sans-serif;
}

.primary-color {
  color: $primary-color;
}


.secondary-color {
  color: $secondary-color;
}

.ternary-color {
  color: $ternary-color;
}

.blue-sky-color {
  color: $blue-sky-color;
}

.primary-bg-color {
  background-color: $primary-color;
}

/*body {
    background: url(http://cdn.wallpapersafari.com/58/89/7s5y6o.jpg);
    background-repeat: repeat;

}*/
.btn {
  vertical-align: middle !important;
}
.secondary-bg-color {
  background-color: $secondary-color;
}

.ternary-bg-color {
  background-color: $ternary-color;
}

.blue-sky-bg-color {
  background-color: $blue-sky-color;
}

.primary-border-color {
  border-color: $primary-color;
}

.secondary-border-color {
  border-color: $secondary-color;
}

.ternary-border-color {
  border-color: $ternary-color;
}

.blue-sky-border-color {
  border-color: $blue-sky-color;
}

.plane-bg-image {
  position: fixed;
  top: 10px;
  z-index: -100;
  display: inline-block;
}

.position-higher {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.white-text {
  color: white !important;
}
/* Footer */

.footer p{
  text-align: center;
  line-height: 60px;
  font-size: 12px;
}

.footer {
  background-color: #eee;
  height: 60px;
  margin: 0px;
  padding-bottom: -15px;
  width: 100%;
}

/* fixes cursors broken by angular ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

 @import 'material-kit';
 @import "bootstrap";
 @import "xeditable";
 @import "font-awesome";
 /*@import "font-awesome-sprockets";*/
 @import "simplemde.min";
 @import "lesson_styles/lesson_show";
 @import "lesson_styles/teachers";
 @import "lesson_styles/new_lesson_modal";
 @import "gradebook_styles/courses";
 @import "gradebook_styles/assignments";
 @import "lesson_styles/pull_request_show";
 @import "syllabi_styles/courses";
 @import "lesson_styles/front_page";
 @import "examples";
 @import 'navbar';
 @import 'rzslider.min';
 @import 'lesson_styles/search';
 @import 'bootstrap-select.min';


.nav-link.active {
  background-color: $primary-color !important;
}


@font-face {
  font-family: 'chalk';
  font-weight: normal;
  font-style: normal;
  src: font-url('chalk.eot');
  src: font-url('chalk.eot?#iefix') format('embedded-opentype'),
       font-url('chalk.ttf') format('truetype'),
       font-url('chalk.svg') format('svg');
}

.nav-tabs .nav-link {

  color: #666 !important;
}

.nav-tabs .active {

  color: #FFF !important;
}