.navbar {
  margin-bottom: 20px;
  .center-form {
    margin-left: 8%;
    display: inline-block;
    margin-top: 5px;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 120px;
    .btn.dropdown-toggle.btn-default{
      background-color: $blue-sky-color;
      color: white;
    }
  }
  .dropdown-menu .inner {
    overflow-y: hidden;
  }
  input.form-control{
    width: 300px;
  }
  .brand-img {
    height: 50px;
    margin-bottom: 10px;
  }
  .cabin-sketch-font {
    padding-left: 0px;
  }
}
